.blue { 
  background-color:#e6f0ff; 
  border-radius: 5px; 
  padding: 20px;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}